*{
    box-sizing: border-box;
}

body{
    font-size:15px;  
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
      /* multiple image added in the background */
      background-color: var(--very-light-grayish-blue);
      background-image: url("../images/bg-bottom.svg"), url("../images/bg-top.svg");
      background-position: left bottom, right top;
      background-repeat: no-repeat, no-repeat;
      font-size: var(--base-font-size);
}


/* all font and color variable declare */
:root {
    --very-light-grayish-blue: hsl(240, 78%, 98%);
    --light-grayish-blue: hsl(234, 14%, 74%);
    --grayish-blue: hsl(233, 13%, 49%);
    --dark-grayish-blue: hsl(232, 13%, 33%);
    --base-font-size: 15px;
    --linear-gradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);
  }
  

  .main-heading{
    margin-bottom: 10vh;
    font-size: 40px;
}



.main-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
 }

.cards-container{
    

    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 90%;
    background-image: url("../images/bg-bottom.svg") url("../images/bg-top.svg");
}


.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: white;
    /* margin-left: 60px; */
    margin-right: 10px;
    border-radius: 5px;
    /*  */
    width: 20%;
    height: 100%;
    /*  box size increase */
    /* padding: 0px */
    /* padding-bottom: 20px; */
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.content{
    /* bahar wale div ki height jitni lega */
    width: 100%;
   margin-top: 10px;
   margin-bottom: 10px;
   text-align: center;
   border-bottom: 1px solid var(--grayish-blue);
   font-size: 10px;
   padding-bottom: 14px;
   font-weight: 700;
}

.card-btn{
    border: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    font-weight:700px;
    /* padding: 10px; */
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 2px;

} 





.card:hover{
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    /* background-color: white; */
    color: hsl(237, 63%, 64%);
    /* height: 400px; */
    /* width: 300px; */
    transform: scale(1.1);
  
  }

  .card:hover > .content{
    color: white;
    background-image: none; 
  }

  .card:hover > .card-btn{
    color: hsl(237, 63%, 64%);
    background-image: none;
    background-color: white;
  }

.bold-heading{
    border: none;
    margin-top: 30px;
  /* font-size: 20px; */


}

.card-price{
   font-size: 40px;
   /* width: 100%; */

}

@media only screen and (max-width:600px){
    .main-container{
        height: 100%;
    }
    .cards-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 90%;
    }
     /* each card spacing bottom */
    .card{
      margin-bottom: 20px;
      padding: 10px;
      width: 50%;
    }
  
    .card:hover{
      transform: none;
    }

   
  }


